/* 
.virtualAssistantLink{
    padding-top: 130px;
    padding-left: 130px;
    z-index: 500;
    background-image: url('/src/Assets/va-bg.jpg');
    height: 1250px; 
} */
.virtualAssistantLink{
   width: 100%;
   /* height: 100%; */
   position: relative;
   top: 70px;
    background: rgb(39, 39, 39);
    color: #ffffff;
    padding: 60px 100px;
}
.virtualAssistantLink h2{
    margin-top: 60px; 
    margin-left: 20px;  
}
.virtualAssistantLink li{
    list-style-type: disc;
    color: #ffffff;
    margin-bottom: 15px;
}
.virtualAssistantLink ul{
    margin-left: 50px;
    margin-top: 20px;
}
.brief{
    font-size: 18px;
    margin-right: 2%;
}

@media screen and (max-width:900px) {
  .virtualAssistantLink{
    padding: 40px 20px; 
  }
  .me{
      height: auto;
}
}


/* 
@media screen and (max-width:1500px) {
    .virtualAssistantLink{
      height: 1400px;
       
    }
    .me{
        height: auto;
}
  }

  @media screen and (max-width:650px) {
    .virtualAssistantLink{
      height: 1430px;
       
    }
    .me{
        height: auto;
}
  }

  @media screen and (max-width:600px) {
    .virtualAssistantLink{
      height: 1500px;
       
    }
    .me{
        height: auto;
}
  }

  @media screen and (max-width: 500px) {
    .virtualAssistantLink{
      height: 1550px;
       
    }
    .me{
        height: auto;
}
  }

  @media screen and (max-width: 452px) {
    .virtualAssistantLink{
      height: 1600px;
       
    }
    .me{
        height: auto;
}
  }
  @media screen and (max-width: 424px) {
    .me li{
        margin-bottom: 5px;
    }
  } */